.listContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  background-color: var(--dark-color);
  padding: 2rem 0;
  transition: transform 2s ease;
  h1{
    text-align: center;
    color: var(--main-color);
    font-size: var(--fs-large);
    margin-top: 1rem;
  }
}
.listBoxes {
  position: relative;

  display: inline-flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  transition: transform 1s;
}
.border{
  border-bottom: 5px dashed var(--sec-color);
  border-top: 5px dashed var(--sec-color);
  button{
    margin: 0 0 1rem 2rem; 
    min-width: max(25%, 200px);
    background-color: var(--main-color);
    color: var(--dark-color);
  }
}
.box {
  margin: 2rem 0;
  margin-inline: 2rem;
  background-color: var(--sec-color);
  min-width: calc((100% - 16rem) / 4);
  min-height: 400px;
}
.leftArrow,
.rightArrow {
  position: absolute;
  width: 35px;
  height: 35px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-15px);
  background-color: rgba(240, 255, 255, 0.274);
}
.leftArrow {
  right: -3px;
}
.rightArrow {
  left: -3px;
}
@media (max-width: 1320px) {
  .box {
    min-width: calc((100% - 12rem) / 3);
  }
}
@media (max-width: 940px) {
  .box {
    min-width: calc((100% - 8rem) / 2);
  }
}
@media (max-width: 680px) {
  .box {
    min-width: calc((100% - 4rem) / 1);
  }
}
