.container {
  background-color: var(--main-color);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  padding: 0 1rem;
  img:hover {
    scale: 1.04;
    cursor: pointer;
  }
}
.bg {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;

  div {
    margin: 0.5rem 0;
  }
}
.button {
  margin: 1rem 0 0 1rem;
  & > * {
    width: 100%;
    max-width: 200px;
    color: var(--main-color);
  }
  & > *:hover {
    background-color: var(--sec-color);
    color: var(--text-dark);
  }
}
@media (max-width: 1280px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
  }
}
