.button {
  appearance: button;
  background-color: var(--dark-color);
  border-radius: 5px;
  border: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  color: var(--main-color);
  transition: all .1s ease-in;
  button:disabled {
    cursor: auto;
  }
  button:active:after {
    border-width: 0 0 0px;
  }
  button:active {
    padding-bottom: 10px;
  }
}
.button:hover {
  background-color: var(--main-color);
  color: var(--text-dark);
}
.box {
  margin: 2rem 0;
  margin-inline: 1rem;
  min-width: calc((100% - 8rem) / 4);
  border-radius: 5px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2,
  p {
    color: var(--text-dark);
    padding: 0 0 0.5rem 1rem;
    text-align: left;
  }
  img {
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 600px;
  }
}
@media (max-width: 1320px) {
  .box {
    min-width: calc((100% - 6rem) / 3);
  }
}
@media (max-width: 940px) {
  .box {
    min-width: max(calc((100% - 4rem) / 2));
  }
}
@media (max-width: 580px) {
  .box {
    min-width: calc((100% - 2rem) / 1);
    display: grid;
    place-items: center;
    img{
      min-width: calc((100% - 1rem) / 1);
    }
  }
}