.mainSec {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2rem;
  background-color: var(--sec-color);
  color: var(--text-dark);
  max-height: fit-content;
}
.mainContent {
  position: relative;
  max-width: 1200px;
  flex: 1;
  button {
    margin-top: 1rem;
    min-width: max(25%, 200px);
    background-color: var(--dark-color);
    color: var(--main-color);
  }
  h2 {
    font-size: var(--fs-large);
  }
  p {
    margin-top: 1rem;
    font-size: var(--fs-big);
    line-height: 2rem;
  }
  h2::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: -40px;
    width: 100%;
    height: 200px;
    opacity: 0.3;
    background: url(../../images/fox.png) 3% 40% / 200px auto no-repeat;
  }
}
.secImage {
  flex: 1;
  display: grid;
  place-items: center;
  img {
    padding-top: 2rem;
    width: auto;
    max-height: 400px;
  }
}

@media (max-width: 1124px) {
  .mainContent {
    p {
      margin-top: 0.5rem;
      font-size: var(--fs-medium);
      line-height: normal;
    }
  }
  .secImage {
    img {
      padding-top: 2rem;
      max-height: 300px;
    }
  }
}
@media (max-width: 760px) {
  .mainContent {
    p {
      font-size: var(--fs-small);
    }
    h2::after {
      background: url(../../images/fox.png) 6% 10% / 100px auto no-repeat;
    }
  }
  .mainSec {
    padding: 1rem;
    flex-direction: column;
  }
}
