.mainSec{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem;
    background-color: var(--sec-color);
}
.mainContent{
    max-width: 1200px;
    h2{
        font-size: var(--fs-large);
    }
    p{
        margin-top: 2rem;
        font-size: var(--fs-big);
        line-height: 2rem;
    }
}
.secImage{
    display: grid;
    place-items: center;
    width: 100%;
    img{
        padding-top: 2rem;
        max-height: 40vh;
        width: auto;
    }
}
@media (max-width: 1024px) {
    .mainContent{
        p{
             font-size: var(--fs-medium);
            line-height: normal;
        }
    }
  }
  @media (max-width: 760px) {
    .mainContent{
        p{
             font-size: var(--fs-small);
        }
    }
    .mainSec{
        padding: 1rem;
        flex-direction:column;
    }
  }